# Mem0 API Key를 발급받아 입력하세요
MEM0_API_KEY=

# Mem0 self-hosted server를 사용할 경우 아래 3줄의 주석을 해제하세요
# FINUS_MEM0_HOST=http://localhost:8888
# FINUS_MEM0_ORG_ID=selfhost-org
# FINUS_MEM0_PROJECT_ID=selfhost-project

# Mem0 Dashboard가 localhost:3000을 사용합니다. kis-trading-mcp를 localhost:3300으로 이동합니다.
# Mem0를 default 설정으로 사용할 경우 아래의 주석을 해제하세요
# FINUS_KIS_TRADING_MCP_URL=http://localhost:3300/sse
